@charset "UTF-8";
/* CSS Document */
.custom-popup.popup-container .popup {
  border-radius: 8px !important;
}

.mynavbar{
	height: 40px !important;
}

.common-body {
	background-color: #EBEBEB;
	color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

#svgcanvas {
    background-color:aqua;
}

button.round-button{
  border-radius: 50%;
  z-index: 9;
}

button.text-button{
    font-size: 1.7em !important;
}

.my-popover{
    height: auto !important;
}

.my-popover .list {
  margin: 0px;
}

.center-bottom{
  text-align: center;
  position: absolute;
  width:100%;
  bottom:10px;
}

.lpks-id {
	width: 95%;
	height: auto;
	color: black;
	background-color: white;
	border-collapse: collapse;
	align: center;
	border-radius: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25px;
	text-align: left;
	text-indent: 20px;
	line-height: 30px;
	font-size: 14px;
	padding: 5px;
}

.othercomponent {
	width: 95%;
	height: auto;
	color: black;
	background-color: white;
	border-collapse: collapse;
	align: center;
	border-radius: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	text-align: left;
	text-indent: 20px;
	line-height: 30px;
	font-size: 14px;
	padding: 5px;
}