<link href="css/common.css" rel="stylesheet">
<ion-view hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left" style="color: grey;">
      <!--  <a class="button button-icon icon ion-navicon" ui-sref="#"></a> -->
      <img src="img/logo_inside.png" style="width:80%;height:75%"/>
  </ion-nav-buttons>
  <ion-nav-title>
      
  </ion-nav-title>
  <ion-nav-buttons side="right" style="color: grey;">
        <a class="button button-icon ion-plus-round" ng-click="addNewMasterList();"></a>
	    <!-- <a class="button button-icon ion-gear-b" ui-sref="#"></a>  -->
	 </ion-nav-buttons>          
  <ion-content class="padding common-body" overflow-scroll="true">
     <br/>
     <div  ng-hide="!species_lists.length" style="margin-top: 20px; margin-left:10px; margin-right:10px">
		 <ion-list> 
		   <ion-item ng-repeat="species_list in species_lists track by $index" ng-click="selectSpeciesList(species_list)" style="vertical-align: middle">
		      <!--  
			  <label class="checkbox">
                 <input type="checkbox" ng-click="checkSpeciesList(species_list); $event.stopPropagation();" ng-model="species_list.checked">
              </label>
			  -->
			  <div class="swipe" on-swipe-right="confirmDelete(species_list);">
				  <label class="item-input"> 
		   				 <span id="{{species_list.id}}" style="width:80%;text-align:left">{{species_list.species_list_name}}</span>
		   				 <span style="width:20%;text-align:right">{{species_list.quantity}}</span>
		 		  </label>
			  </div>
			</ion-item>
		 </ion-list>
	 </div>
	 <div ng-hide="species_lists.length"  style="margin-top: 20px; margin-left:10px; margin-right:10px">
	     <div class="item item-input">The list is empty. </div>
	     <div class="item item-input">Please press "+" button to add more list</div>	 
     </div>
	 <br/>
	 
  </ion-content>
  
  <ion-footer-bar align-title="center" class="bar-positive" style="height:50px">
		  <div class="buttons" ng-click="gotoHome();">
		     <a class="button button-icon icon ion-home"></a>
		  </div>
		  <h1 class="title"></h1>  
		  <div  class="buttons" ng-click="gotoCamera();">
		      <a class="button button-icon icon ion-ios-camera"></a>
		  </div>
		  <div class="title" ng-click="gotoHowToPage();">
		      <a class="button button-icon icon ion-ios-help"></a>
		  </div>
   </ion-footer-bar>
</ion-view>  