<link href="css/common.css" rel="stylesheet">
<ion-view title="" hide-back-button="false" cache-view="true">
<ion-nav-title>
      <h1 class="title">Help</h1>
  </ion-nav-title>
<ion-content class="padding common-body" overflow-scroll="true">
     <div class="lpks-id">
	     <b>Quick Start </b><br/>
	     &nbsp;&nbsp;&nbsp;&nbsp;1. Select list or choose a capture option<br/>
	     &nbsp;&nbsp;&nbsp;&nbsp;2. Capture name(s)<br/>
	     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;==> names added to list<br/>
	     &nbsp;&nbsp;&nbsp;&nbsp;3. Repeat until done<br/>
	     &nbsp;&nbsp;&nbsp;&nbsp;4. Select "Get Tree"<br/>
         
         <b>Capture Options:</b><br/>
              <button class="button-icon icon ion-images"></button> = Use a stored photo<br/>
              &nbsp;&nbsp;<button class="button-icon text-button">T</button>&nbsp;&nbsp; = Use text<br/>
              <button class="button-icon icon ion-camera"></button> = Use camera<br/>
	     <b>LISTS.</b>&nbsp;&nbsp;&nbsp;Create lists from the upper right menu or by saving temporary lists. Captured names go into the active list. Swipe right to delete a name. Manage your lists from <b>Home.</b><br/>
         <b>CAPTURES.</b>&nbsp;&nbsp;&nbsp;We capture text by <a href="#" ng-click="gotoPage('OCR');">OCR</a>, then <a href="#" ng-click="gotoPage('GNRD');">GNRD</a> finds <b>formal names</b> (e.g., "Sus scrofa" not "boar").  Other text is ignored, e.g., you can photograph a whole book page to get just 1 name if you want.<br/>     
         <b>TREES.</b>&nbsp;&nbsp;&nbsp;To get a tree, you have to be viewing a list. Phylogenetic relationships come from the <a href="#" ng-click="gotoPage('OPEN_TREE');">OpenTree</a> project. <!--To share, choose <b>Export</b> -> Open in Browser, then use the browser's sharing features.--> <br/>
         <b>IMAGE QUALITY.</b>&nbsp;&nbsp;&nbsp;Clear obstructions. Hold camera steady, level and perpendicular to the source, 8 to 20 inches away. Activate auto-focus by touching the name.<br/>
         <b>TROUBLE-SHOOTING.</b>&nbsp;&nbsp;&nbsp;Usually OCR is the problem. Reduce blur, double-image, and glare, and avoid low-contrast sources. If all else fails, write the name neatly on your hand and take a photo of that!<br/> 
         <b>FEEDBACK.</b>&nbsp;&nbsp;&nbsp;Please <a href="#" ng-click="gotoPage('GITHUB_ISSUE');">post feedback</a> including bug reports, comments, and feature requests.<br/>
         <b>ABOUT.</b>&nbsp;&nbsp;&nbsp;The <a href="#" ng-click="gotoPage('PHYLOTASTIC');">Phylotastic</a> project aims to satisfy the world's hunger for cheap and fast trees.<br/>
     </div> 
</ion-content>
</ion-view>