<ion-view  view-title="" cache-view="false">
 <ion-nav-title>
      <h1 class="title"></h1>
  </ion-nav-title>
<ion-nav-buttons side="right" style="color: grey;">
	<a class="button button-icon ion-ios-play" ui-sref="phylotastic.species_names_list_view">&nbsp;<b>Species names</b></a>
</ion-nav-buttons>

<ion-content class="padding" overflow-scroll="true">
    <div class="padding" align="center">
       <br/>
       <img ng-src="{{pictureURL}}" style="width:100%;height:50%">
       <br/>
       <button ng-click="takePicture();" 
         class="button button-block button-balanced"><i class="icon ion-camera"></i>&nbsp;Take Photo</button>
       <button ng-click="inPhotoLibrary();" 
         class="button button-block button-balanced"><i class="icon ion-ios-folder"></i>&nbsp;Photo Library</button>
        <button ng-click="submitOCR();" 
         class="button button-block button-balanced"><i class="icon ion-ios-cog"></i>&nbsp;Use this image</button>  
    </div>
</ion-content>
<ion-footer-bar align-title="center" class="bar-balanced" style="height:56px">
		  <div class="buttons" ng-click="gotoHome();">
		      <a class="button button-icon icon ion-home" style="height:55px;">&nbsp;Home</a>
		  </div>
		  <h1 class="title"></h1>
		  <div class="buttons" ng-click="gotoCamera();">
		      <a class="button button-icon icon ion-ios-camera" style="height:55px;">&nbsp;Capture</a>
		  </div>
</ion-footer-bar>
</ion-view>