<ion-view title="Settings" hide-back-button="true">

<ion-content class="padding" overflow-scroll="true">
  <br/>
  <a class="item item-icon-right lpks-id" ui-sref="phylotastic.accounts">Accounts <i class="icon ion-plus-round icon-accessory"></i> </a> 
  <a class="item item-icon-right othercomponent" ng-click="phylotastic_logout();">Logout <i class="icon ion-plus-round icon-accessory"></i> </a>
  <a class="item item-icon-right othercomponent" ui-sref="phylotastic.about">About <i class="icon ion-plus-round icon-accessory"></i> </a> 
</ion-content> 
</ion-view>