<link href="css/common.css" rel="stylesheet">
<ion-view hide-back-button="false" cache-view="false">
  <ion-nav-title>
      
  </ion-nav-title>
  <ion-nav-buttons side="right" style="color: grey;">
        <a class="button button-icon icon ion-ios-eye" ng-click="build_view_tree();">Get Tree</a>
        <a class="button button-icon icon ion-ios-loop-strong" ui-sref="phylotastic.home_page">Switch List</a>
 </ion-nav-buttons>          
  <ion-content class="padding common-body" overflow-scroll="true">
     <br/>
     <div ng-hide="!species_names_list.length"  style="margin-top: 20px; margin-left:10px; margin-right:10px">
	     <ion-list>
			   <ion-item ng-repeat="species_name in species_names_list track by $index" ng-click="selectSpeciesName(species_name)" style="vertical-align: middle">
				  <div class="swipe" on-swipe-right="confirmDelete(species_name);">
				      {{species_name}}
				  </div> 
			   </ion-item>
			 </div>  
	     </ion-list>	 
     </div>
     <div ng-hide="species_names_list.length"  style="margin-top: 20px; margin-left:10px; margin-right:10px">
	     <label class="item item-input">There is no any list of species names</label>	 
     </div>
	 <br/> 
  </ion-content>
 
  <ion-footer-bar align-title="center" class="bar-balanced" style="height:56px">
		  <div class="buttons" ng-click="gotoHome();">
		      <a class="button button-icon icon ion-home" style="height:55px;">&nbsp;Home</a>
		  </div>
		  <h1 class="title"></h1>
		  <div class="buttons" ng-click="gotoCamera();">
		      <a class="button button-icon icon ion-ios-camera" style="height:55px;">&nbsp;Capture</a>
		  </div>
    </ion-footer-bar>
</ion-view>  