<ion-tabs class="tabs-item-hide">

        <ion-tab title="LandInfo" icon="ion-home" href="#/landinfo/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios-information" href="#/landinfo/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Settings" icon="ion-gear-b" ui-sref="landinfo.settings">
          <ion-nav-view name="settings-tab"></ion-nav-view>
        </ion-tab>
      
        <ion-tab title="Copy To SDCard" icon="ion-archive" ui-sref="landinfo.copytosd">
          <ion-nav-view name="copytosd-tab"></ion-nav-view>
        </ion-tab>
        
      </ion-tabs>

    