<ion-view hide-back-button="false" cache-view="false">
  <ion-nav-title>
       <h1 class="title"></h1>
  </ion-nav-title>
  <ion-nav-buttons side="right" style="color: grey;">
        <a class="button button-icon icon ion-android-share-alt" ng-click="export_tree();">Export</a>
        <a class="button button-icon icon ion-ios-loop-strong" ui-sref="phylotastic.home_page">Switch List</a>
 </ion-nav-buttons>
  
  
  <ion-content  overflow-scroll="false" style="width:100%;height:100%">
     <br/>
       
     <ion-scroll zooming="true" direction="xy" style="width:100%;height:100%">
        	<div id="svgCanvas"> </div>
     </ion-scroll>
     <br/>
     
  </ion-content>

  
  <ion-footer-bar align-title="center" class="bar-balanced" style="height:56px">
		  <div class="buttons" ng-click="gotoHome();">
		      <a class="button button-icon icon ion-home" style="height:55px;">&nbsp;Home</a>
		  </div>
		  <h1 class="title"></h1>
		  <div class="buttons" ng-click="gotoCamera();">
		      <a class="button button-icon icon ion-ios-camera" style="height:55px;">&nbsp;Capture</a>
		  </div>
    </ion-footer-bar>
</ion-view>  